.shop{
      width: 100%;
      /* min-height: 100vh; */
     
}
.heading{
      width: 100%;
      height: 50px;
      color: #000;
      margin-top: 35px;
      font-size: 3vmax;
      font-weight: 500;
      padding: 12px;
      display: flex;
      justify-content: center;
      gap: 15px;
}